<div class="row">
    <div class="heading clearfix">
        <div class="large-11 columns">
            <h4><i class="fas fa-book-open"></i>分类精选</h4>
        </div>
        <div class="large-1 columns">
            <div class="navText show-for-large">
                <a class="prev secondary-button"><i class="fa fa-angle-left"></i></a>
                <a class="next secondary-button"><i class="fa fa-angle-right"></i></a>
            </div>
        </div>
    </div>
</div>
<div id="owl-demo" class="owl-carousel carousel" data-car-length="4" data-items="4" data-loop="true" data-nav="false" data-autoplay="true" data-autoplay-timeout="3000" data-dots="false" data-auto-width="false" data-responsive-small="1" data-responsive-medium="2" data-responsive-xlarge="5">
     <div class="item">
        <figure class="premium-img">
            <img src="/images/zhubo.jpg" alt="carousel">
            <figcaption>
                <h5>女主播</h5>
                <h5>女主播激情视频</h5>
            </figcaption>
        </figure>
        <a href="/listVideo/x-zhubo/0" class="hover-posts">
            <span><i class="fa fa-play"></i>点击查看此类更多视频</span>
        </a>
    </div>
     
     
     
     
     
     <div class="item">
        <figure class="premium-img">
            <img src="/images/chunv.jpg" alt="carousel">
            <figcaption>
                <h5>处女</h5>
                <h5>破处的视频</h5>
            </figcaption>
        </figure>
        <a href="/listVideo/x-chunv/0" class="hover-posts">
            <span><i class="fa fa-play"></i>点击查看此类更多视频</span>
        </a>
    </div>
     
     
     <div class="item">
        <figure class="premium-img">
            <img src="/images/vixen.jpg" alt="carousel">
            <figcaption>
                <h5>vixen公司品电影</h5>
                <h5>精品欧美电影</h5>
            </figcaption>
        </figure>
        <a href="/listVideo/x-vixen/0" class="hover-posts">
            <span><i class="fa fa-play"></i>点击查看此类更多视频</span>
        </a>
    </div>
     
     <div class="item">
        <figure class="premium-img">
            <img src="/images/koreanjuqing.jpg" alt="carousel">
            <figcaption>
                <h5>韩国剧情片</h5>
                <h5>这里有稀有的韩国剧情片,女主贼漂亮</h5>
            </figcaption>
        </figure>
        <a href="/listVideo/x-koreanjuqing/0" class="hover-posts">
            <span><i class="fa fa-play"></i>点击查看此类更多视频</span>
        </a>
    </div>
     
     
     <div class="item">
        <figure class="premium-img">
            <img src="/images/javhd.jpg" alt="carousel">
            <figcaption>
                <h5>日本JAVHD</h5>
                <h5>小日本的电影,欢迎观看</h5>
            </figcaption>
        </figure>
        <a href="/listVideo/x-javhd/0" class="hover-posts">
            <span><i class="fa fa-play"></i>点击查看此类更多视频</span>
        </a>
    </div>
     
     <div class="item">
        <figure class="premium-img">
            <img src="/images/blacked.jpg" alt="carousel">
            <figcaption>
                <h5>大老黑</h5>
                <h5>老黑的大公鸡</h5>
            </figcaption>
        </figure>
        <a href="/listVideo/x-blacked/0" class="hover-posts">
            <span><i class="fa fa-play"></i>点击查看此类更多视频</span>
        </a>
    </div>
     <div class="item">
        <figure class="premium-img">
            <img src="/images/office.jpg" alt="carousel">
            <figcaption>
                <h5>办公室激情</h5>
                <h5>来自欧美办公室的激情视频</h5>
            </figcaption>
        </figure>
        <a href="/listVideo/x-office/0" class="hover-posts">
            <span><i class="fa fa-play"></i>点击查看此类更多视频</span>
        </a>
    </div>
    
    <div class="item">
        <figure class="premium-img">
            <img src="/images/loli.jpg" alt="carousel">
            <figcaption>
                <h5>萝莉视频</h5>
                <h5>全世界的萝莉</h5>
            </figcaption>
        </figure>
        <a href="/listVideo/x-loli/0" class="hover-posts">
            <span><i class="fa fa-play"></i>点击查看此类更多视频</span>
        </a>
    </div>
    <div class="item">
        <figure class="premium-img">
            <img src="/images/lama.jpg" alt="carousel">
            <figcaption>
                <h5>辣妈视频</h5>
                <h5>巨乳,少妇,辣妈</h5>
            </figcaption>
        </figure>
        <a href="/listVideo/x-lama/0" class="hover-posts">
            <span><i class="fa fa-play"></i>点击查看此类更多视频</span>
        </a>
    </div>
    <div class="item">
        <figure class="premium-img">
            <img src="/images/china.jpg" alt="carousel">
            <figcaption>
                <h5>国产视频</h5>
                <h5>华人视频无处不在,欢迎观看</h5>
            </figcaption>
        </figure>
        <a href="/listVideo/x-china/0" class="hover-posts">
            <span><i class="fa fa-play"></i>点击查看此类更多视频</span>
        </a>
    </div>
    <div class="item">
        <figure class="premium-img">
            <img src="/images/gangjiao.jpg" alt="carousel">
            <figcaption>
                <h5>肛交</h5>
                <h5>适合各种重口味</h5>
            </figcaption>
        </figure>
        <a href="/listVideo/gangjiao/0" class="hover-posts">
            <span><i class="fa fa-play"></i>点击查看此类更多视频</span>
        </a>
    </div>
    <div class="item">
        <figure class="premium-img">
            <img src="/images/teen.jpg" alt="carousel">
            <figcaption>
                <h5>少女</h5>
                <h5>年轻的少女,就是好</h5>
            </figcaption>
        </figure>
        <a href="/listVideo/x-teen/0" class="hover-posts">
            <span><i class="fa fa-play"></i>点击查看此类更多视频</span>
        </a>
    </div>
    <div class="item">
        <figure class="premium-img">
            <img src="/images/korean.jpg" alt="carousel">
            <figcaption>
                <h5>韩国人的视频</h5>
                <h5>各种青春的韩国美女</h5>
            </figcaption>
        </figure>
        <a href="/listVideo/x-korean/0" class="hover-posts">
            <span><i class="fa fa-play"></i>点击查看此类更多视频</span>
        </a>
    </div>
</div>
