<footer>
    <div class="row">
        <div class="large-3 medium-6 columns">
            <div class="widgetBox">
                <div class="widgetTitle">
                    <h5>关于本站</h5>
                </div>
                <div class="textwidget">
                	我们立足于美利坚,如果遇到幼儿,暴力,毒品等相关视频,请及时联系管理员
                	如果遇到未满十八周岁,请自行离开,请满足当地法律的情况下浏览本站.谢谢合作
                	本站不对中国大陆开放.
                </div>
            </div>
        </div>
        <div class="large-6 medium-6 columns">
            <div class="widgetBox">
                <div class="widgetTitle">
                    <h5>标签</h5>
                </div>
                <div class="tagcloud">
                    <a href="/listVideo/x-gangjiao/0">肛交</a>
                    <a href="/listVideo/x-zhubo/0">主播</a>
                    <a href="/listVideo/x-china/0">国产</a>
                    <a href="/listVideo/x-teen/0">少女</a>
                    <a href="/listVideo/x-vixen/0">vixen</a>
                    <a href="/listVideo/x-korean/0">韩国美女</a>
                    <a href="/listVideo/x-japanjuqing/0">日本剧情</a>
                    <a href="/listVideo/x-91dasshen/0">91大神</a>
                    <a href="/listVideo/x-chunv/0">处女</a>
                    <a href="/listVideo/x-koujiao/0">口交</a>
                    <a href="/listVideo/x-yanshe/0">颜射</a>
                    <a href="/listVideo/x-shuangfei/0">双飞</a>
                    <a href="/listVideo/x-blacked/0">黑屌</a>
                    <a href="/listVideo/x-loli/0">萝莉</a>
                    <a href="/listVideo/x-lama/0">辣妈</a>
                </div>
            </div>
        </div>
        <div class="large-3 medium-6 columns">
            <div class="widgetBox">
                <div class="widgetTitle">
                    <h5>广告联系合作,请加邮箱 123@123.com</h5>
                </div>
                <div class="widgetTitle">
                    <h5>诚招实例CPV联盟,实力广告商合作,非诚勿扰</h5>
                </div>
            </div>
        </div>
    </div>
    <a href="#" id="back-to-top" title="Back to top"><i class="fa fa-angle-double-up"></i></a>
</footer><!-- footer -->

<div id="footer-bottom">
    <div class="logo text-center">
        <img src="/images/footerlogo.png" alt="footer logo">
    </div>
    <div class="btm-footer-text text-center">
        <p>2016 © 最用心的自由视频网站 </p>
    </div>
</div>