<section id="top" class="topBar show-for-large">
      <div class="row">
          <div class="medium-6 columns">
              <div class="socialLinks">
                  <a href="#"><i class="fa fa-facebook-f"></i></a>
                  <a href="#"><i class="fa fa-twitter"></i></a>
                  <a href="#"><i class="fa fa-google-plus"></i></a>
                  <a href="#"><i class="fa fa-instagram"></i></a>
                  <a href="#"><i class="fa fa-vimeo"></i></a>
                  <a href="#"><i class="fa fa-youtube"></i></a>
              </div>
          </div>
          <div class="medium-6 columns">
              <div class="top-button">
                  <ul class="menu float-right">
                      <li>
                          <a href="submit-post">上传视频</a>
                      </li>
                      <li class="dropdown-login">
                          <a class="loginReg" data-toggle="example-dropdown" href="#">注册/登陆</a>
                          <div class="login-form">
                              <h6 class="text-center">非常欢迎您回来</h6>
                              <form method="post">
                                  <div class="input-group">
                                      <span class="input-group-label"><i class="fa fa-user"></i></span>
                                      <input class="input-group-field" type="text" placeholder="输入您的账号">
                                  </div>
                                  <div class="input-group">
                                      <span class="input-group-label"><i class="fa fa-lock"></i></span>
                                      <input class="input-group-field" type="text" placeholder="输入您的密码">
                                  </div>
                                  <div class="checkbox">
                                      <input id="check1" type="checkbox" name="check" value="check">
                                      <label class="customLabel" for="check1">记住我</label>
                                  </div>
                                  <input type="submit" name="submit" value="马上登陆">
                              </form>
                              <p class="text-center">您第一次来? <a class="newaccount" href="/login-register">创建一个新的账号</a></p>
                          </div>
                      </li>
                  </ul>
              </div>
          </div>
      </div>
  </section>
  <section id="navBar">
      <nav class="sticky-container" data-sticky-container>
          <div class="sticky topnav" data-sticky data-top-anchor="navBar" data-btm-anchor="footer-bottom:bottom" data-margin-top="0" data-margin-bottom="0" style="width: 100%; background: #fff;" data-sticky-on="large">
    <div class="row">
        <div class="large-12 columns">
        <div class="title-bar" data-responsive-toggle="beNav" data-hide-for="large">
            <button class="menu-icon" type="button" data-toggle="offCanvas-responsive"></button>
            <div class="title-bar-title"><img src="images/logo-small.png" alt="logo"></div>
        </div>

        <div class="top-bar show-for-large" id="beNav" style="width: 100%;">
                    <div class="top-bar-left">
                        <ul class="menu">
                            <li class="menu-text">
                                <a href="/"><img src="images/logo.png" alt="logo"></a>
                            </li>
                        </ul>
                    </div>
                    <div class="top-bar-right search-btn">
                        <ul class="menu">
                            <li class="search">
                                <i class="fa fa-search"></i>
                            </li>
                        </ul>
                    </div>
                    <div class="top-bar-right">
                        <ul class="menu vertical medium-horizontal" data-responsive-menu="drilldown medium-dropdown">
                            <li class="active">
                                <a href="/"><i class="fa fa-home"></i>主页</a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-magic"></i>直播间</a>
                            </li>
                            <li class="has-submenu" data-dropdown-menu="example1">
                                <a href="#"><i class="fa fa-film"></i>视频</a>
                                <ul class="submenu menu vertical" data-submenu data-animate="slide-in-down slide-out-up">
                                    <li><a href="single-video-v1.html"><i class="fa fa-film"></i>最新视频</a></li>
                                    <li><a href="single-video-v2.html"><i class="fa fa-film"></i>最多播放</a></li>
                                    <li><a href="single-video-v3.html"><i class="fa fa-film"></i>原创专区</a></li>
                                    <li><a href="submit-post.html"><i class="fa fa-film"></i>加入我们,上传最新视频</a></li>
                                </ul>
                            </li>
                            <li class="has-submenu" data-dropdown-menu="example2">
                                <a href="#"><i class="fa fa-th"></i>分类</a>
                                <ul class="submenu menu vertical" data-submenu data-animate="slide-in-down slide-out-up">
                                    <li><a href="single-video-v1.html"><i class="fa fa-film"></i>国产</a></li>
                                    <li><a href="single-video-v2.html"><i class="fa fa-film"></i>日韩</a></li>
                                    <li><a href="single-video-v3.html"><i class="fa fa-film"></i>欧美</a></li>
                                    <li><a href="submit-post.html"><i class="fa fa-film"></i>更多分类</a></li>
                                </ul>
                            </li>
                            
                            <li>
                                <a href="blog.html"><i class="fa fa-edit"></i>个人信息</a>
                                <ul class="submenu menu vertical" data-submenu data-animate="slide-in-down slide-out-up">
                                    <li><a href="blog-single-post.html"><i class="fa fa-edit"></i>赚取积分</a></li>
                                    <li><a href="blog-single-post.html"><i class="fa fa-edit"></i>推广链接</a></li>
                                    <li><a href="blog-single-post.html"><i class="fa fa-edit"></i>上传视频</a></li>
                                    <li><a href="blog-single-post.html"><i class="fa fa-edit"></i>视频管理</a></li>
                                    <li><a href="blog-single-post.html"><i class="fa fa-edit"></i>我收藏的视频</a></li>
                                </ul>
                            </li>
                            <li><a href="about-us.html"><i class="fa fa-user"></i>关于我们</a></li>
                            <li><a href="contact-us.html"><i class="fa fa-envelope"></i>联系我们</a></li>
                        </ul>
                    </div>
                </div>
                </div>
            </div>
            <div id="search-bar" class="clearfix search-bar-light">
                <form method="post">
                    <div class="search-input float-left">
                        <input type="search" name="search" placeholder="Seach Here your video">
                    </div>
                    <div class="search-btn float-right text-right">
                        <button class="button" name="search" type="submit">search now</button>
                    </div>
                </form>
            </div>
        </div>
    </nav>
</section>