<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>花无痕视频,有情怀的视频网站</title>
    <meta name="keywords" content="花无痕在线,花无痕在线视频,花无痕最好的国产资源">
	<meta name="description" content="花无痕-花无痕av资源视频|风花雪月,花开无香,雪落无痕,一个有情怀的视频网站">
    <link rel="stylesheet" href="css/app.css">
    <link rel="stylesheet" href="css/theme.css">
    
    <link rel="stylesheet" href="css/videoSkin.css">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="layerslider/css/layerslider.css">
    <link rel="stylesheet" href="css/owl.carousel.min.css">
    <link rel="stylesheet" href="css/owl.theme.default.min.css">
    <link rel="stylesheet" href="css/responsive.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/foundation-sites/dist/foundation.js"></script>
   <link href="https://cdn.bootcss.com/video.js/7.5.0/alt/video-js-cdn.min.css" rel="stylesheet">
   <script src="https://cdn.bootcss.com/video.js/7.5.0/alt/video.core.min.js"></script>
    
</head>
<body>
<div class="off-canvas-wrapper">
    <div class="off-canvas-wrapper-inner" data-off-canvas-wrapper>
        <!--header-->
        <div class="off-canvas position-left light-off-menu" id="offCanvas-responsive" data-off-canvas>
        		 <script type="text/javascript">
        		 jQuery("#offCanvas-responsive").load("/mobileheader",function(){ jQuery(document).foundation();});
                </script>
          </div>
          <div class="off-canvas-content" data-off-canvas-content>
	            <header id="header">
	                <script type="text/javascript">
	                jQuery("#header").load("/header",function(){ jQuery(document).foundation();});
	                </script>
	            </header><!-- End Header -->
            

            <!-- layerslider -->
            <section id="slider">
                <div id="full-slider-wrapper">
                    <div id="layerslider" style="width:100%;height:500px;">
                        <div class="ls-slide" data-ls="transition2d:1;timeshift:-1000;">
                            <img src="images/sliderimages/bg.png" class="ls-bg" alt="Slide background"/>
                            <h3 class="ls-l" style="left:50px; top:135px; padding: 15px; color: #444444;font-size: 24px;font-family: 'Open Sans'; font-weight: bold; text-transform: uppercase;" data-ls="offsetxin:0;durationin:2500;delayin:500;durationout:750;easingin:easeOutElastic;rotatexin:90;transformoriginin:50% bottom 0;offsetxout:0;rotateout:-90;transformoriginout:left bottom 0;">世界上最优秀的视频网站</h3>
                            <h1 class="ls-l" style="left: 63px; top:185px;background: #e96969;padding:0 10px; opacity: 1; color: #ffffff; font-size: 36px; font-family: 'Open Sans'; text-transform: uppercase; font-weight: bold;" data-ls="offsetxin:left;durationin:3000; delayin:800;durationout:850;rotatexin:90;rotatexout:-90;">最具创造力,上传原创视频可赚钱</h1>
                            <p class="ls-l" style="font-weight:600;left:62px; top:250px; opacity: 1;width: 450px; color: #444; font-size: 14px; font-family: 'Open Sans';" data-ls="offsetyin:top;durationin:4000;rotateyin:90;rotateyout:-90;durationout:1050;">基于区块链的去中心视频社区,自制化管理,每个人都可以参与,看视频可以赚钱,上传原创视频更赚钱.</p>
                            <a href="login-register" class="ls-l button" style="border-radius:4px;text-align:center;left:63px; top:315px;background: #444;color: #ffffff;font-family: 'Open Sans';font-size: 14px;display: inline-block; text-transform: uppercase; font-weight: bold;" data-ls="durationout:850;offsetxin:90;offsetxout:-90;duration:4200;fadein:true;fadeout:true;">马上加入我们</a>
                            <img class="ls-l" src="images/sliderimages/layer1.png" alt="layer 1" style="top:55px; left:700px;" data-ls="offsetxin:right;durationin:3000; delayin:600;durationout:850;rotatexin:-90;rotatexout:90;">
                            <img class="ls-l ls-linkto-2" style="top:400px;left:50%;white-space: nowrap;" data-ls="offsetxin:-50;delayin:1000;rotatein:-40;offsetxout:-50;rotateout:-40;" src="images/sliderimages/left.png" alt="">
                            <img class="ls-l ls-linkto-2" style="top:400px;left:52%;white-space: nowrap;" data-ls="offsetxin:50;delayin:1000;offsetxout:50;" src="images/sliderimages/right.png" alt="">
                        </div>
                        <div class="ls-slide" data-ls="transition2d:1;timeshift:-1000;">
                            <img src="images/sliderimages/bg2.png" class="ls-bg" alt="Slide background"/>
                            <h3 class="ls-l" style="left:50%; top:150px; padding: 15px; color: #444444;font-size: 24px;font-family: 'Open Sans'; font-weight: bold; text-transform: uppercase;" data-ls="offsetxin:0;durationin:2500;delayin:500;durationout:750;easingin:easeOutElastic;rotatexin:90;transformoriginin:50% bottom 0;offsetxout:0;rotateout:-90;transformoriginout:left bottom 0;">最多原创,无限观影体验</h3>
                            <h1 class="ls-l" style="left: 50%; top:200px;background: #e96969;padding:0 10px; opacity: 1; color: #ffffff; font-size: 36px; font-family: 'Open Sans'; text-transform: uppercase; font-weight: bold;" data-ls="offsetxin:left;durationin:3000; delayin:800;durationout:850;rotatexin:90;rotatexout:-90;">上传原创视频,被观看次数越多,金钱奖励越多</h1>
                            <p class="ls-l" style="text-align:center; font-weight:600;left:50%; top:265px; opacity: 1;width: 450px; color: #444; font-size: 14px; font-family: 'Open Sans';" data-ls="offsetyin:top;durationin:4000;rotateyin:90;rotateyout:-90;durationout:1050;">加入我们,让我们壮大我们的社区,赚取更多的奖励</p>
                            <a href="login-register" class="ls-l button" style="border-radius:4px;text-align:center;left:50%; top:315px;background: #444;color: #ffffff;font-family: 'Open Sans';font-size: 14px;display: inline-block; text-transform: uppercase; font-weight: bold;" data-ls="durationout:850;offsetxin:90;offsetxout:-90;duration:4200;fadein:true;fadeout:true;">还等什么,赶紧加入</a>
                            <img class="ls-l ls-linkto-1" style="top:400px;left:50%;white-space: nowrap;" data-ls="offsetxin:-50;delayin:1000;rotatein:-40;offsetxout:-50;rotateout:-40;" src="images/sliderimages/left.png" alt="">
                            <img class="ls-l ls-linkto-1" style="top:400px;left:52%;white-space: nowrap;" data-ls="offsetxin:50;delayin:1000;offsetxout:50;" src="images/sliderimages/right.png" alt="">
                        </div>
                    </div>
                </div>
            </section><!--end slider-->

            <!-- 分类导航 -->
            <section id="premium">
            	<script type="text/javascript">
            	jQuery("#premium").load("/fenleidh",function(){ jQuery(document).foundation();});
            	</script>
            </section>
            <!-- main content -->
            
            <section class="content">
                <!-- newest video -->
                <div class="main-heading">
                    <div class="row secBg padding-14">
                        <div class="medium-8 small-8 columns">
                            <div class="head-title">
                                <i class="fa fa-film"></i>
                                <h4>激情女主播</h4>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row secBg">
                    <div class="large-12 columns">
                        <div class="row column head-text clearfix">
                            <p class="pull-left">All Videos : <span>1,862 Videos posted</span></p>
                            <div class="grid-system pull-right show-for-large">
                                <a class="secondary-button current grid-default" href="#"><i class="fa fa-th"></i></a>
                                <a class="secondary-button grid-medium" href="#"><i class="fa fa-th-large"></i></a>
                                <a class="secondary-button list" href="#"><i class="fa fa-th-list"></i></a>
                            </div>
                        </div>
                        <div class="tabs-content" data-tabs-content="newVideos">
                            <div class="tabs-panel is-active" id="new-all">
                                <div class="row list-group">
                                    <div class="item large-3 medium-6 columns group-item-secondary-button grid-medium" th:each="video: ${xzhubo}">
                                        <div class="post thumb-border">
                                            <div class="post-thumb" th:attr="data-id=${video.id}" onclick="goVideoPlay(this)"  >
                                                <img alt="new video" th:src="@{http://dkxh721496qhs.cloudfront.net/{imgkey}(imgkey=${video.picKey})}">
                                                <a  class="hover-posts" th:href="@{/goVideoPlay?(id=${video.id})}">
						                        </a>
                                                <div class="video-stats clearfix">
                                                </div>
                                            </div>
                                            <div class="post-des">
                                                <h6><a th:href="@{/goVideoPlay?(id=${video.id})}" th:text=${#strings.abbreviate({video.title},45)}></a></h6>
                                                <div class="post-stats clearfix">
                                                    <p class="pull-left">
                                                        <i class="fa fa-user"></i>
                                                        <span><a href="#" th:text=${video.owner}></a></span>
                                                    </p>
                                                    <p class="pull-left">
                                                        <i class="fa fa-clock-o"></i>
                                                        <span class="videoUpLoadTime" th:attr="longtime=${video.uploadTime}" ></span>
                                                    </p>
                                                    <p class="pull-left">
                                                        <i class="fa fa-eye" th:text=${video.playTimes}></i>
                                                        <span ><span>
                                                    </p>
                                                </div>
                                                <div class="post-summary">
                                                    <p>请记住本站永久域名 www.91xxss.com 每日更新各种最新视频,谢谢合作</p>
                                                </div>
                                                <div class="post-button">
                                                    <a href="single-video-v2.html" class="secondary-button"><i class="fa fa-play-circle"></i>watch video</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                            	</div>
                            </div>
                        </div>
                        <div class="text-center row-btn">
                            <a class="button radius" href="/listVideo/x-loli/0">查看更多视频</a>
                        </div>
                    </div>
                </div>
            </section>
            
            
            
            
            <section class="content">
                <!-- newest video -->
                <div class="main-heading">
                    <div class="row secBg padding-14">
                        <div class="medium-8 small-8 columns">
                            <div class="head-title">
                                <i class="fa fa-film"></i>
                                <h4>萝莉视频</h4>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row secBg">
                    <div class="large-12 columns">
                        <div class="row column head-text clearfix">
                            <p class="pull-left">All Videos : <span>1,862 Videos posted</span></p>
                            <div class="grid-system pull-right show-for-large">
                                <a class="secondary-button current grid-default" href="#"><i class="fa fa-th"></i></a>
                                <a class="secondary-button grid-medium" href="#"><i class="fa fa-th-large"></i></a>
                                <a class="secondary-button list" href="#"><i class="fa fa-th-list"></i></a>
                            </div>
                        </div>
                        <div class="tabs-content" data-tabs-content="newVideos">
                            <div class="tabs-panel is-active" id="new-all">
                                <div class="row list-group">
                                    <div class="item large-3 medium-6 columns group-item-secondary-button grid-medium" th:each="video: ${xloli}">
                                        <div class="post thumb-border">
                                            <div class="post-thumb" th:attr="data-id=${video.id}" onclick="goVideoPlay(this)"  >
                                                <img alt="new video" th:src="@{http://dkxh721496qhs.cloudfront.net/{imgkey}(imgkey=${video.picKey})}">
                                                <a  class="hover-posts" th:href="@{/goVideoPlay?(id=${video.id})}">
						                        </a>
                                                <div class="video-stats clearfix">
                                                </div>
                                            </div>
                                            <div class="post-des">
                                                <h6><a th:href="@{/goVideoPlay?(id=${video.id})}" th:text=${#strings.abbreviate({video.title},45)}></a></h6>
                                                <div class="post-stats clearfix">
                                                    <p class="pull-left">
                                                        <i class="fa fa-user"></i>
                                                        <span><a href="#" th:text=${video.owner}></a></span>
                                                    </p>
                                                    <p class="pull-left">
                                                        <i class="fa fa-clock-o"></i>
                                                        <span class="videoUpLoadTime" th:attr="longtime=${video.uploadTime}" ></span>
                                                    </p>
                                                    <p class="pull-left">
                                                        <i class="fa fa-eye" th:text=${video.playTimes}></i>
                                                        <span ><span>
                                                    </p>
                                                </div>
                                                <div class="post-summary">
                                                    <p>请记住本站永久域名 www.91xxss.com 每日更新各种最新视频,谢谢合作</p>
                                                </div>
                                                <div class="post-button">
                                                    <a href="single-video-v2.html" class="secondary-button"><i class="fa fa-play-circle"></i>watch video</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                            	</div>
                            </div>
                        </div>
                        <div class="text-center row-btn">
                            <a class="button radius" href="/listVideo/x-loli/0">查看更多视频</a>
                        </div>
                    </div>
                </div>
            </section>
            
            <section class="content">
                <!-- newest video -->
                <div class="main-heading">
                    <div class="row secBg padding-14">
                        <div class="medium-8 small-8 columns">
                            <div class="head-title">
                                <i class="fa fa-film"></i>
                                <h4>国产视频</h4>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row secBg">
                    <div class="large-12 columns">
                        <div class="row column head-text clearfix">
                            <p class="pull-left">All Videos : <span>1,862 Videos posted</span></p>
                            <div class="grid-system pull-right show-for-large">
                                <a class="secondary-button current grid-default" href="#"><i class="fa fa-th"></i></a>
                                <a class="secondary-button grid-medium" href="#"><i class="fa fa-th-large"></i></a>
                                <a class="secondary-button list" href="#"><i class="fa fa-th-list"></i></a>
                            </div>
                        </div>
                        <div class="tabs-content" data-tabs-content="newVideos">
                            <div class="tabs-panel is-active" id="new-all">
                                <div class="row list-group">
                                    <div class="item large-3 medium-6 columns group-item-secondary-button grid-medium" th:each="video: ${xchina}">
                                        <div class="post thumb-border">
                                            <div class="post-thumb" th:attr="data-id=${video.id}"  onclick="goVideoPlay(this)" >
                                                <img alt="new video" th:src="@{http://dkxh721496qhs.cloudfront.net/{imgkey}(imgkey=${video.picKey})}">
                                                <a  class="hover-posts" th:href="@{/goVideoPlay?(id=${video.id})}">
						                        </a>
                                                <div class="video-stats clearfix">
                                                </div>
                                            </div>
                                            <div class="post-des">
                                                <h6><a th:href="@{/goVideoPlay?(id=${video.id})}" th:text=${#strings.abbreviate({video.title},45)}></a></h6>
                                                <div class="post-stats clearfix">
                                                    <p class="pull-left">
                                                        <i class="fa fa-user"></i>
                                                        <span><a href="#" th:text=${video.owner}></a></span>
                                                    </p>
                                                    <p class="pull-left">
                                                        <i class="fa fa-clock-o"></i>
                                                        <span class="videoUpLoadTime" th:attr="longtime=${video.uploadTime}" ></span>
                                                    </p>
                                                    <p class="pull-left">
                                                        <i class="fa fa-eye"></i>
                                                        <span th:text=${video.playTimes}><span>
                                                    </p>
                                                </div>
                                                <div class="post-summary">
                                                    <p>请记住本站永久域名 www.91xxss.com 每日更新各种最新视频,谢谢合作</p>
                                                </div>
                                                <div class="post-button">
                                                    <a href="single-video-v2.html" class="secondary-button"><i class="fa fa-play-circle"></i>watch video</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                            	</div>
                            </div>
                        </div>
                        <div class="text-center row-btn">
                            <a class="button radius" href="/listVideo/x-china/0">查看更多视频</a>
                        </div>
                    </div>
                </div>
            </section>
            
             <section class="content">
                <!-- newest video -->
                <div class="main-heading">
                    <div class="row secBg padding-14">
                        <div class="medium-8 small-8 columns">
                            <div class="head-title">
                                <i class="fa fa-film"></i>
                                <h4>大韩国美女视频</h4>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row secBg">
                    <div class="large-12 columns">
                        <div class="row column head-text clearfix">
                            <p class="pull-left">All Videos : <span>1,862 Videos posted</span></p>
                            <div class="grid-system pull-right show-for-large">
                                <a class="secondary-button current grid-default" href="#"><i class="fa fa-th"></i></a>
                                <a class="secondary-button grid-medium" href="#"><i class="fa fa-th-large"></i></a>
                                <a class="secondary-button list" href="#"><i class="fa fa-th-list"></i></a>
                            </div>
                        </div>
                        <div class="tabs-content" data-tabs-content="newVideos">
                            <div class="tabs-panel is-active" id="new-all">
                                <div class="row list-group">
                                    <div class="item large-3 medium-6 columns group-item-secondary-button grid-medium" th:each="video: ${xkorean}">
                                        <div class="post thumb-border">
                                            <div class="post-thumb"  th:attr="data-id=${video.id}"  onclick="goVideoPlay(this)">
                                                <img alt="new video" th:src="@{http://dkxh721496qhs.cloudfront.net/{imgkey}(imgkey=${video.picKey})}">
                                                 <a  class="hover-posts" th:href="@{/goVideoPlay?(id=${video.id})}">
						                        </a>
                                                <div class="video-stats clearfix">
                                                </div>
                                            </div>
                                            <div class="post-des">
                                                <h6><a th:href="@{/goVideoPlay?(id=${video.id})}" th:text=${#strings.abbreviate({video.title},45)}></a></h6>
                                                <div class="post-stats clearfix">
                                                    <p class="pull-left">
                                                        <i class="fa fa-user"></i>
                                                        <span><a href="#" th:text=${video.owner}></a></span>
                                                    </p>
                                                    <p class="pull-left">
                                                        <i class="fa fa-clock-o"></i>
                                                        <span class="videoUpLoadTime" th:attr="longtime=${video.uploadTime}" ></span>
                                                    </p>
                                                    <p class="pull-left">
                                                        <i class="fa fa-eye"></i>
                                                        <span th:text=${video.playTimes}><span>
                                                    </p>
                                                </div>
                                                <div class="post-summary">
                                                    <p>请记住本站永久域名 www.91xxss.com 每日更新各种最新视频,谢谢合作</p>
                                                </div>
                                                <div class="post-button">
                                                    <a href="single-video-v2.html" class="secondary-button"><i class="fa fa-play-circle"></i>watch video</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                            	</div>
                            </div>
                        </div>
                        <div class="text-center row-btn">
                            <a class="button radius" href="/listVideo/x-korean/0">查看更多视频</a>
                        </div>
                    </div>
                </div>
            </section>
            
            <section class="content">
                <!-- newest video -->
                <div class="main-heading">
                    <div class="row secBg padding-14">
                        <div class="medium-8 small-8 columns">
                            <div class="head-title">
                                <i class="fa fa-film"></i>
                                <h4>少女表演</h4>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row secBg">
                    <div class="large-12 columns">
                        <div class="row column head-text clearfix">
                            <p class="pull-left">All Videos : <span>1,862 Videos posted</span></p>
                            <div class="grid-system pull-right show-for-large">
                                <a class="secondary-button current grid-default" href="#"><i class="fa fa-th"></i></a>
                                <a class="secondary-button grid-medium" href="#"><i class="fa fa-th-large"></i></a>
                                <a class="secondary-button list" href="#"><i class="fa fa-th-list"></i></a>
                            </div>
                        </div>
                        <div class="tabs-content" data-tabs-content="newVideos">
                            <div class="tabs-panel is-active" id="new-all">
                                <div class="row list-group">
                                    <div class="item large-3 medium-6 columns group-item-secondary-button grid-medium" th:each="video: ${xteen}">
                                        <div class="post thumb-border">
                                            <div class="post-thumb" th:attr="data-id=${video.id}" onclick="goVideoPlay(this)">
                                                <img alt="new video" th:src="@{http://dkxh721496qhs.cloudfront.net/{imgkey}(imgkey=${video.picKey})}">
                                                <a  class="hover-posts" th:href="@{/goVideoPlay?(id=${video.id})}">
						                        </a>
                                                <div class="video-stats clearfix">
                                                </div>
                                            </div>
                                            <div class="post-des">
                                                <h6><a th:href="@{/goVideoPlay?(id=${video.id})}" th:text=${#strings.abbreviate({video.title},45)}></a></h6>
                                                <div class="post-stats clearfix">
                                                    <p class="pull-left">
                                                        <i class="fa fa-user"></i>
                                                        <span><a href="#" th:text=${video.owner}></a></span>
                                                    </p>
                                                    <p class="pull-left">
                                                        <i class="fa fa-clock-o"></i>
                                                        <span class="videoUpLoadTime" th:attr="longtime=${video.uploadTime}" ></span>
                                                    </p>
                                                    <p class="pull-left">
                                                        <i class="fa fa-eye"></i>
                                                        <span th:text=${video.playTimes}><span>
                                                    </p>
                                                </div>
                                                <div class="post-summary">
                                                    <p>请记住本站永久域名 www.91xxss.com 每日更新各种最新视频,谢谢合作</p>
                                                </div>
                                                <div class="post-button">
                                                    <a href="single-video-v2.html" class="secondary-button"><i class="fa fa-play-circle"></i>watch video</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                            	</div>
                            </div>
                        </div>
                        <div class="text-center row-btn">
                            <a class="button radius" href="/listVideo/x-teen/0">查看更多视频</a>
                        </div>
                    </div>
                </div>
            </section>
            
            
            <!-- movies -->
            <section class="content">
                <!-- newest video -->
                <div class="main-heading">
                    <div class="row secBg padding-14">
                        <div class="medium-8 small-8 columns">
                            <div class="head-title">
                                <i class="fa fa-film"></i>
                                <h4>辣妈的精彩表演</h4>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row secBg">
                    <div class="large-12 columns">
                        <div class="row column head-text clearfix">
                            <p class="pull-left">All Videos : <span>1,862 Videos posted</span></p>
                            <div class="grid-system pull-right show-for-large">
                                <a class="secondary-button current grid-default" href="#"><i class="fa fa-th"></i></a>
                                <a class="secondary-button grid-medium" href="#"><i class="fa fa-th-large"></i></a>
                                <a class="secondary-button list" href="#"><i class="fa fa-th-list"></i></a>
                            </div>
                        </div>
                        <div class="tabs-content" data-tabs-content="newVideos">
                            <div class="tabs-panel is-active" id="new-all">
                                <div class="row list-group">
                                    <div class="item large-3 medium-6 columns group-item-secondary-button grid-medium" th:each="video: ${xlama}">
                                        <div class="post thumb-border">
                                            <div class="post-thumb" th:attr="data-id=${video.id}" onclick="goVideoPlay(this)" >
                                                <img alt="new video" th:src="@{http://dkxh721496qhs.cloudfront.net/{imgkey}(imgkey=${video.picKey})}">
                                                <a  class="hover-posts" th:href="@{/goVideoPlay?(id=${video.id})}">
						                        </a>
                                                <div class="video-stats clearfix">
                                                </div>
                                            </div>
                                            <div class="post-des">
                                                <h6><a th:href="@{/goVideoPlay?(id=${video.id})}" th:text=${#strings.abbreviate({video.title},45)}></a></h6>
                                                <div class="post-stats clearfix">
                                                    <p class="pull-left">
                                                        <i class="fa fa-user"></i>
                                                        <span><a href="#" th:text=${video.owner}></a></span>
                                                    </p>
                                                    <p class="pull-left">
                                                        <i class="fa fa-clock-o"></i>
                                                        <span class="videoUpLoadTime" th:attr="longtime=${video.uploadTime}" ></span>
                                                    </p>
                                                    <p class="pull-left">
                                                        <i class="fa fa-eye"></i>
                                                        <span th:text=${video.playTimes}><span>
                                                    </p>
                                                </div>
                                                <div class="post-summary">
                                                    <p>请记住本站永久域名 www.91xxss.com 每日更新各种最新视频,谢谢合作</p>
                                                </div>
                                                <div class="post-button">
                                                    <a href="single-video-v2.html" class="secondary-button"><i class="fa fa-play-circle"></i>watch video</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                            	</div>
                            </div>
                        </div>
                        <div class="text-center row-btn">
                            <a class="button radius" href="/listVideo/x-lama/0">查看更多视频</a>
                        </div>
                    </div>
                </div>
            </section>
            
            <section class="content">
                <!-- newest video -->
                <div class="main-heading">
                    <div class="row secBg padding-14">
                        <div class="medium-8 small-8 columns">
                            <div class="head-title">
                                <i class="fa fa-film"></i>
                                <h4>屁眼表演,重口</h4>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row secBg">
                    <div class="large-12 columns">
                        <div class="row column head-text clearfix">
                            <p class="pull-left">All Videos : <span>1,862 Videos posted</span></p>
                            <div class="grid-system pull-right show-for-large">
                                <a class="secondary-button current grid-default" href="#"><i class="fa fa-th"></i></a>
                                <a class="secondary-button grid-medium" href="#"><i class="fa fa-th-large"></i></a>
                                <a class="secondary-button list" href="#"><i class="fa fa-th-list"></i></a>
                            </div>
                        </div>
                        <div class="tabs-content" data-tabs-content="newVideos">
                            <div class="tabs-panel is-active" id="new-all">
                                <div class="row list-group">
                                    <div class="item large-3 medium-6 columns group-item-secondary-button grid-medium" th:each="video: ${xgangjiao}">
                                        <div class="post thumb-border">
                                            <div class="post-thumb" th:attr="data-id=${video.id}" onclick="goVideoPlay(this)" >
                                                <img alt="new video" th:src="@{http://dkxh721496qhs.cloudfront.net/{imgkey}(imgkey=${video.picKey})}">
                                                <a  class="hover-posts" th:href="@{/goVideoPlay?(id=${video.id})}">
						                        </a>
                                                <div class="video-stats clearfix">
                                                </div>
                                            </div>
                                            <div class="post-des">
                                                <h6><a th:href="@{/goVideoPlay?(id=${video.id})}" th:text=${#strings.abbreviate({video.title},45)}></a></h6>
                                                <div class="post-stats clearfix">
                                                    <p class="pull-left">
                                                        <i class="fa fa-user"></i>
                                                        <span><a href="#" th:text=${video.owner}></a></span>
                                                    </p>
                                                    <p class="pull-left">
                                                        <i class="fa fa-clock-o"></i>
                                                        <span class="videoUpLoadTime" th:attr="longtime=${video.uploadTime}" ></span>
                                                    </p>
                                                    <p class="pull-left">
                                                        <i class="fa fa-eye"></i>
                                                        <span th:text=${video.playTimes}><span>
                                                    </p>
                                                </div>
                                                <div class="post-summary">
                                                    <p>请记住本站永久域名 www.91xxss.com 每日更新各种最新视频,谢谢合作</p>
                                                </div>
                                                <div class="post-button">
                                                    <a href="single-video-v2.html" class="secondary-button"><i class="fa fa-play-circle"></i>watch video</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                            	</div>
                            </div>
                        </div>
                        <div class="text-center row-btn">
                            <a class="button radius" href="/listVideo/x-gangjiao/0">查看更多视频</a>
                        </div>
                    </div>
                </div>
            </section>
            
            <!-- <div class="googleAdv text-center">
                <a href="#"><img src="images/goodleadv.png" alt="googel ads"></a>
            </div>End ad Section -->
            <!-- footer -->
            <footer id="footer">
            	<script type="text/javascript">
        		 jQuery("#footer").load("/footer",function(){ jQuery(document).foundation();});
                </script>
            </footer>
        </div><!--end off canvas content-->
    </div><!--end off canvas wrapper inner-->
</div><!--end off canvas wrapper-->
<!-- script files -->
<script src="commanjs/account.js"></script>
<script src="commanjs/util.js"></script>
<script src="bower_components/jquery/dist/jquery.js"></script>
<script src="bower_components/what-input/what-input.js"></script>
<script src="bower_components/foundation-sites/dist/foundation.js"></script>
<script src="js/jquery.showmore.src.js" type="text/javascript"></script>
<script src="js/app.js"></script>

<script src="layerslider/js/greensock.js" type="text/javascript"></script>
<!-- LayerSlider script files -->
<script src="layerslider/js/layerslider.transitions.js" type="text/javascript"></script>
<script src="layerslider/js/layerslider.kreaturamedia.jquery.js" type="text/javascript"></script>
<script src="js/owl.carousel.min.js"></script>
<script src="js/inewsticker.js" type="text/javascript"></script>
<script src="js/jquery.kyco.easyshare.js" type="text/javascript"></script>
 <script type="text/javascript">
    	var baseCDN = "dbkzdidw1ebxx.cloudfront.net";
    	jQuery(".videoUpLoadTime").each(function(){
    		jQuery(this).html(new Date(jQuery(this).attr('longtime')*1).format('yyyy-MM-dd'));
		});
    	
    	
    </script>
    <script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan style='display:none' id='cnzz_stat_icon_1274363830'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s13.cnzz.com/z_stat.php%3Fid%3D1274363830' type='text/javascript'%3E%3C/script%3E"));</script>
<script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan style='display:none' id='cnzz_stat_icon_1274363830'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s13.cnzz.com/z_stat.php%3Fid%3D1274363830%26online%3D1%26show%3Dline' type='text/javascript'%3E%3C/script%3E"));</script>
</body>
</html>