<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge"> 
<meta name="viewport" content="width=device-width, initial-scale=1"> 
<title>欢迎来到花无痕</title>
<link rel="stylesheet" type="text/css" href="daohang/css/normalize.css" />
<link rel="stylesheet" type="text/css" href="daohang/css/demo.css" />
<link rel="stylesheet" href="daohang/js/vendor/jgrowl/css/jquery.jgrowl.min.css">
<!--必要样式-->
<link rel="stylesheet" type="text/css" href="daohang/css/component.css" />
<!--[if IE]>
<script src="js/html5.js"></script>
<![endif]-->
<style>
	input::-webkit-input-placeholder{
		color:rgba(0, 0, 0, 0.726);
	}
	input::-moz-placeholder{   /* Mozilla Firefox 19+ */
		color:rgba(0, 0, 0, 0.726);
	}
	input:-moz-placeholder{    /* Mozilla Firefox 4 to 18 */
		color:rgba(0, 0, 0, 0.726);
	}
	input:-ms-input-placeholder{  /* Internet Explorer 10-11 */ 
		color:rgba(0, 0, 0, 0.726);
	}
</style>
</head>
<body>
		<div class="container demo-1">
			<div class="content">
				<div id="large-header" class="large-header">
					<canvas id="demo-canvas"></canvas>
					<div class="logo_box">
						<h3>欢迎来到花无痕視頻网站</h3>
						
							<div class="input_outer">
								<span class="u_user"></span>
								<a href="http://91xxss.com/" target="blank" name="logname" class="text" style="color: #000000 !important" >网站最新地址1</a>
							</div>
							<div class="input_outer">
								<span class="u_user"></span>
								<a href="http://91xxss.com/" target="blank"  name="logname" class="text" style="color: #000000 !important" >网站最新地址2</a>
							</div>
							<div class="input_outer">
								<span class="u_user"></span>
								<a href="http://91xxss.com/" target="blank"  name="logname" class="text" style="color: #000000 !important" >网站最新地址3</a>
							</div>
							<div class="input_outer">
								<span class="u_user"></span>
								<a href="http://91xxss.com/" target="blank"  name="logname" class="text" style="color: #000000 !important" >网站最新地址4</a>
							</div>
							
							
							<div id="LOGIN" class="mb2"><a class="act-but submit" href="http://xxss2018.com/" target="blank"  style="color: #FFFFFF">点击直接进入</a></div>
						
					</div>
				</div>
			</div>
		</div><!-- /container -->
		<script src="daohang/js/TweenLite.min.js"></script>
		<script src="daohang/js/EasePack.min.js"></script>
		<script src="daohang/js/jquery.js"></script>
		<script src="daohang/js/rAF.js"></script>
		<script src="daohang/js/demo-1.js"></script>
		<script src="daohang/js/vendor/jgrowl/jquery.jgrowl.min.js"></script>
		<script src="daohang/js/Longin.js"></script>
		<div style="text-align:center;">
</div>
<script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan style='display:none' id='cnzz_stat_icon_1274363830'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s13.cnzz.com/z_stat.php%3Fid%3D1274363830' type='text/javascript'%3E%3C/script%3E"));</script>
<script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan style='display:none' id='cnzz_stat_icon_1274363830'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s13.cnzz.com/z_stat.php%3Fid%3D1274363830%26online%3D1%26show%3Dline' type='text/javascript'%3E%3C/script%3E"));</script>30" language="JavaScript"></script>

	</body>
</html>