<div class="off-menu-close">
    <h3>菜单</h3>
    <span data-toggle="offCanvas-responsive"><i class="fa fa-times"></i></span>
</div>
<ul class="vertical menu off-menu" data-responsive-menu="drilldown">
    <li><a href="/"><i class="fa fa-home"></i>主页</a></li>
    <li th:if="${session.account.email} =='游客'"><a href="/goLogin"><i class="fa fa-music"></i>登陆</a></li>
    <li th:if="${session.account.email} !='游客'"><a href="/chongzhi"><i class="fa fa-home"></i>购买VIP</a></li>
    <li><a href="/listVideo/x-vip/0"><i class="fa fa-glass"></i>VIP视频!力荐!</a></li>
    <li><a href="/listNewVideo/0"><i class="fa fa-glass"></i>最新视频</a></li>
    <li><a href="/listHotVideo/0"><i class="fa fa-glass"></i>最多播放</a></li>
    <li class="has-submenu" data-dropdown-menu="example0">
        <a href="javascript:void(0)"><i class="fa fa-film"></i>每月最佳视频</a>
        <ul class="submenu menu vertical" data-submenu data-animate="slide-in-down slide-out-up">
            <li><a href="/listVideo/x-best201811/0"><i class="fa fa-film"></i>2018年11月最佳视频</a></li>
            <li><a href="/listVideo/x-best201810/0"><i class="fa fa-film"></i>2018年10月最佳视频</a></li>
            <li><a href="/listVideo/x-best201809/0"><i class="fa fa-film"></i>2018年09月最佳视频</a></li>
            <li><a href="/listVideo/x-best201808/0"><i class="fa fa-film"></i>2018年08月最佳视频</a></li>
        </ul>
    </li>
    <li><a href="/listVideo/x-zhubo/0"><i class="fa fa-magic"></i>女主播系列</a></li>
    <li><a href="/listVideo/x-loli/0"><i class="fa fa-magic"></i>萝莉</a></li>
    <li>
       <a href="#"><i class="fa fa-th"></i>视频分类</a>
       <ul class="submenu menu vertical" data-submenu data-animate="slide-in-down slide-out-up">
	       <li><a href="/listVideo/x-loli/0"><i class="fa fa-magic"></i>萝莉</a></li>
		   <li><a href="/listVideo/x-wanghong/0"><i class="fa fa-magic"></i>极品网红</a></li>
	       <li>
               <a href="javascript:void(0)"><i class="fa fa-magic"></i>国产精选</a>
               <ul class="submenu menu vertical" data-submenu data-animate="slide-in-down slide-out-up">
                   <li><a href="/listVideo/x-zhubo/0"><i class="fa fa-magic"></i>女主播系列</a></li>
                   <li><a href="/listVideo/x-91dasshen/0"><i class="fa fa-magic"></i>91大神</a></li>
                   <li><a href="/listVideo/x-china/0"><i class="fa fa-magic"></i>国产自拍</a></li>
                   <li><a href="/listVideo/x-mote/0"><i class="fa fa-magic"></i>模特,嫩模</a></li>
                   <li><a href="/listVideo/x-guorenlaowai/0"><i class="fa fa-magic"></i>国人VS老外</a></li>
                   <li><a href="/listVideo/x-xiaoxiannv/0"><i class="fa fa-magic"></i>小仙女</a></li>
                   <li><a href="/listVideo/x-xianggang/0"><i class="fa fa-magic"></i>香港妹</a></li>
                   <li><a href="/listVideo/x-chemo/0"><i class="fa fa-magic"></i>车模</a></li>
               </ul>
           </li>
           <li>
               <a href="javascript:void(0)"><i class="fa fa-magic"></i>日本精选</a>
               <ul class="submenu menu vertical" data-submenu data-animate="slide-in-down slide-out-up">
                   <li><a href="/listVideo/x-javhd/0"><i class="fa fa-magic"></i>JavHD视频</a></li>
                   <li><a href="/listVideo/x-japanjuqing/0"><i class="fa fa-magic"></i>日本剧情片</a></li>
                   <li><a href="/listVideo/x-japanblack/0"><i class="fa fa-magic"></i>日本女优VS黑鬼</a></li>
               </ul>
           </li>
           <li>
               <a href="javascript:void(0)"><i class="fa fa-magic"></i>韩国精选</a>
               <ul class="submenu menu vertical" data-submenu data-animate="slide-in-down slide-out-up">
               	   <li><a href="/listVideo/x-koreanzhubo/0"><i class="fa fa-magic"></i>韩国女主播</a></li>
                   <li><a href="/listVideo/x-korean/0"><i class="fa fa-magic"></i>韩国美女</a></li>
                   <li><a href="/listVideo/x-koreanjuqing/0"><i class="fa fa-magic"></i>韩国剧情片</a></li>
               </ul>
           </li>
            <li>
               <a href="javascript:void(0)"><i class="fa fa-magic"></i>欧美精选</a>
               <ul class="submenu menu vertical" data-submenu data-animate="slide-in-down slide-out-up">
                   <li><a href="/listVideo/x-office/0"><i class="fa fa-magic"></i>欧美办公室</a></li>
                   <li><a href="/listVideo/x-blacked/0"><i class="fa fa-magic"></i>大黑屌,黑人</a></li>
                   <li><a href="/listVideo/x-lama/0"><i class="fa fa-magic"></i>辣妈</a></li>
                   <li><a href="/listVideo/x-teen/0"><i class="fa fa-magic"></i>少女</a></li>
                   <li><a href="/listVideo/x-teengangjiao/0"><i class="fa fa-magic"></i>少女肛交</a></li>
                   <li><a href="/listVideo/x-teenblack/0"><i class="fa fa-magic"></i>黑鬼群奸少女</a></li>
                   <li><a href="/listVideo/x-oumeijuru/0"><i class="fa fa-magic"></i>真正的巨乳</a></li>
               </ul>
           </li>
           <li><a href="/listVideo/x-dongman/0"><i class="fa fa-magic"></i>动漫</a></li>
           <li><a href="/listVideo/x-gangjiao/0"><i class="fa fa-magic"></i>肛交</a></li>
           <li><a href="/listVideo/x-chunv/0"><i class="fa fa-magic"></i>处女</a></li>
           <li><a href="/listVideo/x-koujiao/0"><i class="fa fa-magic"></i>口交</a></li>
		   <li><a href="/listVideo/x-shuangfei/0"><i class="fa fa-magic"></i>双飞</a></li>
		   <li><a href="/listVideo/x-yanshe/0"><i class="fa fa-magic"></i>颜射</a></li>
		   <li><a href="/listVideo/x-mijian/0"><i class="fa fa-magic"></i>迷奸</a></li>
       </ul>
    </li>
    <!-- <li>
        <a href="blog.html"><i class="fa fa-edit"></i>精选女优</a>
        <ul class="submenu menu vertical" data-submenu data-animate="slide-in-down slide-out-up">
            <li><a href="blog-single-post.html"><i class="fa fa-edit"></i>中国网络红人</a></li>
            <li><a href="blog-single-post.html"><i class="fa fa-edit"></i>欧美女优</a></li>
            <li><a href="blog-single-post.html"><i class="fa fa-edit"></i>日本女优</a></li>
            <li><a href="blog-single-post.html"><i class="fa fa-edit"></i>亚洲女优,东南亚各国</a></li>
        </ul>
    </li> -->
    <li><a href="/about-us"><i class="fa fa-user"></i>关于我们</a></li>
    <!-- <li><a href="contact-us.html"><i class="fa fa-envelope"></i>联系我们</a></li> -->
    <li th:if="${session.account.email} !='游客'"><a href="javascript:void(0)" onclick="exit()"><i class="fas fa-sign-out-alt"></i>退出</a></li>
</ul>
<div class="responsive-search">
    <form method="post">
        <div class="input-group">
            <input class="input-group-field" type="text" placeholder="search Here">
            <div class="input-group-button">
                <button type="submit" name="search"><i class="fa fa-search"></i></button>
            </div>
        </div>
    </form>
</div>
<!-- <div class="off-social">
    <h6>Get Socialize</h6>
    <a href="#"><i class="fa fa-facebook"></i></a>
    <a href="#"><i class="fa fa-twitter"></i></a>
    <a href="#"><i class="fa fa-google-plus"></i></a>
    <a href="#"><i class="fa fa-instagram"></i></a>
    <a href="#"><i class="fa fa-vimeo"></i></a>
    <a href="#"><i class="fa fa-youtube"></i></a>
</div> -->
<div class="top-button">
    <ul class="menu">
       <!--  <li>
            <a href="/submit-post">上传视频</a>
        </li> -->
        <li class="dropdown-login">
            <a href="/goLogin">登陆/注册</a>
        </li>
    </ul>
</div>
