<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>花无痕视频,有情怀的视频网站</title>
    <meta name="keywords" content="花无痕在线,花无痕在线视频,花无痕最好的国产资源">
	<meta name="description" content="花无痕-花无痕av资源视频|风花雪月,花开无香,雪落无痕,一个有情怀的视频网站">
    <link rel="stylesheet" href="css/app.css">
    <link rel="stylesheet" href="css/theme.css">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="layerslider/css/layerslider.css">
    <link rel="stylesheet" href="css/owl.carousel.min.css">
    <link rel="stylesheet" href="css/owl.theme.default.min.css">
    <link rel="stylesheet" href="css/jquery.kyco.easyshare.css">
    <link rel="stylesheet" href="css/responsive.css">
    <link rel="stylesheet" href="css/cropper.min.css">
    <link rel="stylesheet" href="css/ImgCropping.css">
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/foundation-sites/dist/foundation.js"></script>
    
</head>
<body>
<div class="off-canvas-wrapper">
    <div class="off-canvas-wrapper-inner" data-off-canvas-wrapper>
        <!--header-->
        
       <div class="off-canvas position-left light-off-menu" id="offCanvas-responsive" data-off-canvas>
        		 <script type="text/javascript">
                	jQuery("#offCanvas-responsive").load("/mobileheader",function(){ jQuery(document).foundation();});
                </script>
          </div>
          <div class="off-canvas-content" data-off-canvas-content>
	            <header id="header">
	                <script type="text/javascript">
	                	jQuery("#header").load("/header",function(){ jQuery(document).foundation();});
	                </script>
	            </header><!-- End Header -->
            
            <!--breadcrumbs-->
            <section id="breadcrumb">
                <div class="row">
                    <div class="large-12 columns">
                        <nav aria-label="You are here:" role="navigation">
                            <ul class="breadcrumbs">
                                <li><i class="fa fa-home"></i><a href="index.html">主页</a></li>
                                <li>
                                    <span class="show-for-sr">Current: </span> 个人信息修改
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </section><!--end breadcrumbs-->

            <!-- profile top section -->
            <section class="topProfile topProfile-inner" style="background: url('images/profile-bg1.png') no-repeat;">
                <div class="row">
                    <div class="large-12 columns">
                    </div>
                </div>
                <div class="main-text">
                    <div class="row">
                        <div class="large-12 columns">
                            <h3>花无痕</h3>
                            <h1>最用心的视频网站</h1>
                        </div>
                    </div>
                </div>
                <div class="profile-stats">
                    <div class="row secBg">
                        <div class="large-12 columns">
                            <div class="profile-author-img">
                                <img id="finalImg" th:attr="src=${session.account.picPath}" alt="profile author img">
                                <form method="post">
                                    <label for="imgfileupload" class="btn-upload" ><i class="fa fa-camera" id="replaceImg"></i><span>更改头像</span></label>
                                    <input type="file"  class="show-for-sr">
                                </form>
                            </div>
                            <!-- <div class="profile-subscribe">
                                <span><i class="fa fa-users"></i>6</span>
                                <button type="submit" name="subscribe">subscribe</button>
                            </div> -->
                            <!-- <div class="profile-share">
                                <div class="easy-share" data-easyshare data-easyshare-http data-easyshare-url="http://joinwebs.com">
                                    Facebook
                                    <button data-easyshare-button="facebook">
                                        <span class="fa fa-facebook"></span>
                                        <span>Share</span>
                                    </button>
                                    <span data-easyshare-button-count="facebook">0</span>

                                    Twitter
                                    <button data-easyshare-button="twitter" data-easyshare-tweet-text="">
                                        <span class="fa fa-twitter"></span>
                                        <span>Tweet</span>
                                    </button>
                                    <span data-easyshare-button-count="twitter">0</span>

                                    Google+
                                    <button data-easyshare-button="google">
                                        <span class="fa fa-google-plus"></span>
                                        <span>+1</span>
                                    </button>
                                    <span data-easyshare-button-count="google">0</span>

                                    <div data-easyshare-loader>Loading...</div>
                                </div>
                            </div> -->
                            <div class="clearfix">
                                <div class="profile-author-name float-left">
                                    <h4 th:text="${session.account.email}"></h4>
                                    <p>加入时间 : <span id="registertime" th:attr="registertime=${session.account.registerTime}"></span></p>
                                </div>
                                <div class="profile-author-stats float-right">
                                    <ul class="menu">
                                        <li>
                                            <div class="icon float-left">
                                                <i class="fa fa-video-camera"></i>
                                            </div>
                                            <div class="li-text float-left">
                                                <p class="number-text">36</p>
                                                <span>Videos</span>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="icon float-left">
                                                <i class="fa fa-heart"></i>
                                            </div>
                                            <div class="li-text float-left">
                                                <p class="number-text">50</p>
                                                <span>favorites</span>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="icon float-left">
                                                <i class="fa fa-users"></i>
                                            </div>
                                            <div class="li-text float-left">
                                                <p class="number-text">6</p>
                                                <span>followers</span>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="icon float-left">
                                                <i class="fa fa-comments-o"></i>
                                            </div>
                                            <div class="li-text float-left">
                                                <p class="number-text">26</p>
                                                <span>comments</span>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section><!-- End profile top section -->
            <div class="row">
                <!-- left sidebar -->
                <div class="large-4 columns">
                    <aside class="secBg sidebar">
                        <div class="row">
                            <!-- profile overview -->
                            <div class="large-12 columns">
                                <div class="widgetBox">
                                    <div class="widgetTitle">
                                        <h5>Profile Overview</h5>
                                    </div>
                                    <div class="widgetContent">
                                        <ul class="profile-overview">
                                            <li class="clearfix"><a href="/profile-about-me"><i class="fa fa-user"></i>about me</a></li>
                                            <li class="clearfix"><a href="/profile-video"><i class="fa fa-video-camera"></i>Videos <span class="float-right">36</span></a></li>
                                            <li class="clearfix"><a href="/profile-favorite"><i class="fa fa-heart"></i>Favorite Videos<span class="float-right">50</span></a></li>
                                            <li class="clearfix"><a href="/profile-followers"><i class="fa fa-users"></i>Followers<span class="float-right">6</span></a></li>
                                            <li class="clearfix"><a href="/profile-comments"><i class="fa fa-comments-o"></i>comments<span class="float-right">26</span></a></li>
                                            <li class="clearfix"><a href="/profile-settings"><i class="fa fa-gears"></i>Profile Settings</a></li>
                                            <li class="clearfix"><a href="/index"><i class="fa fa-sign-out"></i>Logout</a></li>
                                        </ul>
                                        <a href="submit-post.html" class="button"><i class="fa fa-plus-circle"></i>Submit Video</a>
                                    </div>
                                </div>
                            </div><!-- End profile overview -->
                        </div>
                    </aside>
                </div><!-- end sidebar -->
                <!-- right side content area -->
                <div class="large-8 columns profile-inner">
                    <!-- profile settings -->
                    <section class="profile-settings">
                        <div class="row secBg">
                            <div class="large-12 columns">
                                <div class="heading">
                                    <i class="fa fa-gears"></i>
                                    <h4>个人信息中心</h4>
                                </div>
                                <div class="row">
                                    <div class="large-12 columns">
                                        <div class="setting-form">
                                            <form method="post">
                                                <div class="setting-form-inner">
                                                    <div class="row">
                                                        <div class="large-12 columns">
                                                            <h6 class="borderBottom">用户信息修改:</h6>
                                                        </div>
                                                        <div class="medium-6 columns">
                                                            <label>账号:
                                                                <input type="text" th:value="${session.account.email}" disabled="disabled">
                                                            </label>
                                                        </div>
                                                        <div class="medium-6 columns">
                                                            <label>用户等级:
                                                                <input type="text" th:value="${session.account.level}" disabled="disabled">
                                                            </label>
                                                        </div>
                                                        <div class="medium-6 columns">
                                                            <label>用户经验
                                                                <input type="text" th:value="${session.account.level}" disabled="disabled">
                                                            </label>
                                                        </div>
                                                        <div class="medium-6 columns">
                                                            <label> 花无痕社区积分(积分可兑换会员,可观看收费视频)
                                                                <input type="text" th:value="${session.account.token}" disabled="disabled">
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="setting-form-inner">
                                                    <div class="row">
                                                        <div class="large-12 columns">
                                                            <h6 class="borderBottom">修改密码:</h6>
                                                        </div>
                                                        <div class="medium-6 columns">
                                                            <label>最新密码:
                                                                <input type="password" placeholder="请输入您的新密码..">
                                                            </label>
                                                        </div>
                                                        <div class="medium-6 columns">
                                                            <label>确认最新密码:
                                                                <input type="password" placeholder="请再词确认您的新密码..">
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="setting-form-inner">
                                                    <div class="row">
                                                        <div class="large-12 columns">
                                                            <h6 class="borderBottom">About Me:</h6>
                                                        </div>
                                                        <div class="medium-6 columns">
                                                            <label>Email ID:
                                                                <input type="email" placeholder="enter your email address..">
                                                            </label>
                                                        </div>
                                                        <div class="medium-6 columns">
                                                            <label>Website URL:
                                                                <input type="url" placeholder="enter your website url..">
                                                            </label>
                                                        </div>
                                                        <div class="medium-6 columns end">
                                                            <label>Phone No:
                                                                <input type="tel" placeholder="enter your website url..">
                                                            </label>
                                                        </div>
                                                        <div class="medium-12 columns">
                                                            <label>Bio Description:
                                                                <textarea></textarea>
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="setting-form-inner">
                                                    <button class="button expanded" type="submit" name="setting">update now</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section><!-- End profile settings -->
                </div><!-- end left side content area -->
            </div>

            <!-- footer -->
            <footer id="footer">
            	<script type="text/javascript">
        		 jQuery("#footer").load("/footer",function(){ jQuery(document).foundation();});
                </script>
            </footer>

        </div><!--end off canvas content-->
    </div><!--end off canvas wrapper inner-->
</div><!--end off canvas wrapper-->
<!--图片裁剪框 start-->
<div style="display: none" class="tailoring-container">
    <div class="black-cloth" onClick="closeTailor(this)"></div>
    <div class="tailoring-content">
            <div class="tailoring-content-one">
                <label title="上传图片" for="chooseImg" class="l-btn choose-btn">
                    <input type="file" accept="image/jpg,image/jpeg,image/png" name="file" id="chooseImg" class="hidden" onChange="selectImg(this)">
                    选择图片
                </label>
                <div class="close-tailoring"  onclick="closeTailor(this)">×</div>
            </div>
            <div class="tailoring-content-two">
                <div class="tailoring-box-parcel">
                    <img id="tailoringImg">
                </div>
                <div class="preview-box-parcel">
                    <p>图片预览：</p>
                    <div class="square previewImg"></div>
                    <div class="circular previewImg"></div>
                </div>
            </div>
            <div class="tailoring-content-three">
                <button class="l-btn cropper-reset-btn">复位</button>
                <button class="l-btn cropper-rotate-btn">旋转</button>
                <button class="l-btn cropper-scaleX-btn">换向</button>
                <button class="l-btn sureCut" id="sureCut">确定</button>
            </div>
        </div>
</div>
<!--图片裁剪框 end-->

<!-- script files -->
<script src="/commanjs/util.js"></script>
<script src="/commanjs/account.js"></script>
<script type="text/javascript" src="js/cropper.min.js"></script>
<script src="bower_components/what-input/what-input.js"></script>
<script src="js/jquery.showmore.src.js" type="text/javascript"></script>
<script src="js/app.js"></script>
<script src="layerslider/js/greensock.js" type="text/javascript"></script>
<!-- LayerSlider script files -->
<script src="layerslider/js/layerslider.transitions.js" type="text/javascript"></script>
<script src="layerslider/js/layerslider.kreaturamedia.jquery.js" type="text/javascript"></script>
<script src="js/owl.carousel.min.js"></script>
<script src="js/inewsticker.js" type="text/javascript"></script>
<script src="js/jquery.kyco.easyshare.js" type="text/javascript"></script>
<script type="text/javascript">
//弹出框水平垂直居中
(window.onresize = function () {
    var win_height = jQuery(window).height();
    var win_width = jQuery(window).width();
    if (win_width <= 768){
        jQuery(".tailoring-content").css({
            "top": (win_height - jQuery(".tailoring-content").outerHeight())/2,
            "left": 0
        });
    }else{
        jQuery(".tailoring-content").css({
            "top": (win_height - jQuery(".tailoring-content").outerHeight())/2,
            "left": (win_width - jQuery(".tailoring-content").outerWidth())/2
        });
    }
})();

//弹出图片裁剪框
jQuery("#replaceImg").on("click",function () {
	console.log(123);
    jQuery(".tailoring-container").toggle();
});
//图像上传
function selectImg(file) {
    if (!file.files || !file.files[0]){
        return;
    }
    var reader = new FileReader();
    reader.onload = function (evt) {
        var replaceSrc = evt.target.result;
        //更换cropper的图片
        jQuery('#tailoringImg').cropper('replace', replaceSrc,false);//默认false，适应高度，不失真
    }
    reader.readAsDataURL(file.files[0]);
}
//cropper图片裁剪
jQuery('#tailoringImg').cropper({
    aspectRatio: 1/1,//默认比例
    preview: '.previewImg',//预览视图
    guides: false,  //裁剪框的虚线(九宫格)
    autoCropArea: 0.5,  //0-1之间的数值，定义自动剪裁区域的大小，默认0.8
    movable: false, //是否允许移动图片
    dragCrop: true,  //是否允许移除当前的剪裁框，并通过拖动来新建一个剪裁框区域
    movable: true,  //是否允许移动剪裁框
    resizable: true,  //是否允许改变裁剪框的大小
    zoomable: false,  //是否允许缩放图片大小
    mouseWheelZoom: false,  //是否允许通过鼠标滚轮来缩放图片
    touchDragZoom: true,  //是否允许通过触摸移动来缩放图片
    rotatable: true,  //是否允许旋转图片
    crop: function(e) {
        // 输出结果数据裁剪图像。
    }
});
//旋转
jQuery(".cropper-rotate-btn").on("click",function () {
    jQuery('#tailoringImg').cropper("rotate", 45);
});
//复位
jQuery(".cropper-reset-btn").on("click",function () {
    jQuery('#tailoringImg').cropper("reset");
});
//换向
var flagX = true;
jQuery(".cropper-scaleX-btn").on("click",function () {
    if(flagX){
        jQuery('#tailoringImg').cropper("scaleX", -1);
        flagX = false;
    }else{
        jQuery('#tailoringImg').cropper("scaleX", 1);
        flagX = true;
    }
    flagX != flagX;
});

//裁剪后的处理
jQuery("#sureCut").on("click",function () {
    if (jQuery("#tailoringImg").attr("src") == null ){
        return false;
    }else{
        var cas = jQuery('#tailoringImg').cropper('getCroppedCanvas');//获取被裁剪后的canvas
        var base64url = cas.toDataURL('image/png'); //转换为base64地址形式
        jQuery("#finalImg").prop("src",base64url);//显示为图片的形式
        //关闭裁剪框
        closeTailor();
        console.log(base64url);
        jQuery.ajax({
        	url:"/account/updatePic",
        	type:"post",
        	dataType: 'JSON',  
            cache: false,  
        	data:{"base64url":base64url},
        	success:function(){}
        })
        
    }
});
//关闭裁剪框
function closeTailor() {
    jQuery(".tailoring-container").toggle();
}

</script>
<script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan style='display:none' id='cnzz_stat_icon_1274363830'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s13.cnzz.com/z_stat.php%3Fid%3D1274363830' type='text/javascript'%3E%3C/script%3E"));</script>
<script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan style='display:none' id='cnzz_stat_icon_1274363830'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s13.cnzz.com/z_stat.php%3Fid%3D1274363830%26online%3D1%26show%3Dline' type='text/javascript'%3E%3C/script%3E"));</script>
</body>
</html>