<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>花无痕视频,有情怀的视频网站</title>
    <meta name="keywords" content="花无痕在线,花无痕在线视频,花无痕最好的国产资源">
	<meta name="description" content="花无痕-花无痕av资源视频|风花雪月,花开无香,雪落无痕,一个有情怀的视频网站">
    <link rel="stylesheet" href="css/app.css">
    <link rel="stylesheet" href="css/theme.css">
    <link rel="stylesheet" href="css/video.css">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="layerslider/css/layerslider.css">
    <link rel="stylesheet" href="css/owl.carousel.min.css">
    <link rel="stylesheet" href="css/owl.theme.default.min.css">
    <link rel="stylesheet" href="css/jquery.kyco.easyshare.css">
    <link rel="stylesheet" href="css/responsive.css">
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/foundation-sites/dist/foundation.js"></script>
</head>
<body>
<input type="hidden" id="hiddenaccount" th:value=${session.account.email}>
<div class="off-canvas-wrapper">
    <div class="off-canvas-wrapper-inner" data-off-canvas-wrapper>
        <!--header-->
        <div class="off-canvas position-left light-off-menu" id="offCanvas-responsive" data-off-canvas>
        		 <script type="text/javascript">
                	jQuery("#offCanvas-responsive").load("/mobileheader",function(){ jQuery(document).foundation();});
                </script>
          </div>
          <div class="off-canvas-content" data-off-canvas-content>
	            <header id="header">
	                <script type="text/javascript">
	                jQuery("#header").load("/header",function(){ jQuery(document).foundation();});
	                </script>
	            </header><!-- End Header -->
            <div class="row" style="margin-top:10px;">
                <!-- left side content area -->
                <div class="large-8 columns">
                    <!--single inner video-->
                    <section class="inner-video">
                        <div class="row secBg">
                            <div class="large-12 columns inner-flex-video">
                                <div class="flex-video widescreen" id="playcontent">
                                </div>
                            </div>
                        </div>
                    </section>
                    <!-- single post stats -->
                    <section class="SinglePostStats">
                        <!-- newest video -->
                        <div class="row secBg">
                            <div class="large-12 columns">
                                <div class="media-object stack-for-small">
                                    <div class="media-object-section">
                                        <div class="author-img-sec">
                                            <div class="thumbnail author-single-post">
                                                <a href="#"><img src= "http://placehold.it/80x80" alt="post"></a>
                                            </div>
                                            <p class="text-center"><a href="javascript:void(0)" th:text=${video.owner} ></a></p>
                                        </div>
                                    </div>
                                    <div class="media-object-section object-second">
                                        <div class="author-des clearfix">
                                            <div class="post-title">
                                                <h4 th:text=${video.title}></h4>
                                                <p>
                                                    <span><i class="fa fa-clock-o videoUpLoadTime" th:attr="longtime=${video.uploadTime}" ></i></span>
                                                    <span><i class="fa fa-eye" th:text=${video.playTimes}></i></span>
                                                    <span><i class="fa fa-thumbs-o-up"></i>1,862</span>
                                                    <span><i class="fa fa-thumbs-o-down"></i>180</span>
                                                    <span><i class="fa fa-commenting"></i>8</span>
                                                </p>
                                            </div>
                                            <div class="subscribe">
                                                <form method="post">
                                                    <button type="submit" name="subscribe">Subscribe</button>
                                                </form>
                                            </div>
                                        </div>
                                        <div class="social-share">
                                            <div class="post-like-btn clearfix">
                                                <form method="post">
                                                    <button type="submit" name="fav"><i class="fa fa-heart"></i>Add to</button>
                                                </form>
                                                <a href="#" class="secondary-button"><i class="fa fa-thumbs-o-up"></i></a>
                                                <a href="#" class="secondary-button"><i class="fa fa-thumbs-o-down"></i></a>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section><!-- End single post stats -->

                    <!-- single post description -->
                    <section class="singlePostDescription">
                        <div class="row secBg">
                            <div class="large-12 columns">
                                <div class="heading">
                                    <h5>Description</h5>
                                </div>
                                <div class="description showmore_one">
                                	<p>欢迎光临本站,请记录本站域名以免失联,良心小站用心经营,成为VIP可无限观影,并且全站无广告,最清洁的体验,欢迎加入</p>
                                    <div class="tags">
                                        <button><i class="fa fa-tags"></i>Tags</button>
                                         <a class="inner-btn" href="/listVideo/x-gangjiao/0">肛交</a>
					                    <a class="inner-btn" href="/listVideo/x-zhubo/0">主播</a>
					                    <a class="inner-btn" href="/listVideo/x-china/0">国产</a>
					                    <a class="inner-btn" href="/listVideo/x-teen/0">少女</a>
					                    <a class="inner-btn" href="/listVideo/x-vixen/0">vixen</a>
					                    <a class="inner-btn" href="/listVideo/x-korean/0">韩国美女</a>
					                    <a class="inner-btn" href="/listVideo/x-japanjuqing/0">日本剧情</a>
					                    <a class="inner-btn" href="/listVideo/x-91dasshen/0">91大神</a>
					                    <a class="inner-btn" href="/listVideo/x-chunv/0">处女</a>
					                    <a class="inner-btn" href="/listVideo/x-koujiao/0">口交</a>
					                    <a class="inner-btn" href="/listVideo/x-yanshe/0">颜射</a>
					                    <a class="inner-btn" href="/listVideo/x-shuangfei/0">双飞</a>
					                    <a class="inner-btn" href="/listVideo/x-blacked/0">黑屌</a>
					                    <a class="inner-btn" href="/listVideo/x-loli/0">萝莉</a>
					                    <a class="inner-btn" href="/listVideo/x-lama/0">辣妈</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section><!-- End single post description -->

                    <!-- related Posts -->
                    <section class="content content-with-sidebar related">
                        <div class="row secBg">
                            <div class="large-12 columns">
                                <div class="main-heading borderBottom">
                                    <div class="row padding-14">
                                        <div class="medium-12 small-12 columns">
                                            <div class="head-title">
                                                <i class="fa fa-film"></i>
                                                <h4>你可能喜欢</h4>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row ">

                                    <div class="item large-6 medium-6 columns group-item-grid-default" th:each="relatVideo: ${videos}">
                                        <div class="post thumb-border">
                                            <div class="post-thumb" th:attr="data-id=${relatVideo.id}" onclick="goVideoPlay(this)" >
                                                <img alt="new video" th:src="@{http://dbkzdidw1ebxx.cloudfront.net/{imgkey}(imgkey=${relatVideo.picKey})}">
                                                <a href="javascript:void(0);" class="hover-posts" th:attr="data-id=${relatVideo.id}" onclick="goVideoPlay(this)">
						                        </a>
                                                <div class="video-stats clearfix">
                                                </div>
                                            </div>
                                            <div class="post-des">
                                                <h6><a href="/play" th:text=${#strings.abbreviate({relatVideo.title},20)}></a></h6>
                                                <div class="post-stats clearfix">
                                                    <p class="pull-left">
                                                        <i class="fa fa-user"></i>
                                                        <span><a href="#" th:text=${relatVideo.owner}></a></span>
                                                    </p>
                                                    <p class="pull-left">
                                                        <i class="fa fa-clock-o"></i>
                                                        <span class="videoUpLoadTime" th:attr="longtime=${relatVideo.uploadTime}" ></span>
                                                    </p>
                                                    <p class="pull-left">
                                                        <i class="fa fa-eye"></i>
                                                        <span th:text=${relatVideo.playTimes}><span>
                                                    </p>
                                                </div>
                                                <div class="post-summary">
                                                    <p>请记住本站永久域名 www.xxxx.com 每日更新各种最新视频,谢谢合作</p>
                                                </div>
                                                <div class="post-button">
                                                    <a href="single-video-v2.html" class="secondary-button"><i class="fa fa-play-circle"></i>watch video</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section><!--end related posts-->
                    <!-- Comments -->
                    <section class="content comments">
                        <div class="row secBg">
                            <div class="large-12 columns">
                                <div class="main-heading borderBottom">
                                    <div class="row padding-14">
                                        <div class="medium-12 small-12 columns">
                                            <div class="head-title">
                                                <i class="fa fa-comments"></i>
                                                <h4>Comments <span>(4)</span></h4>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="comment-box thumb-border">
                                    <div class="media-object stack-for-small">
                                        <div class="media-object-section comment-img text-center">
                                            <div class="comment-box-img">
                                                <img src= "http://placehold.it/80x80" alt="comment">
                                            </div>
                                            <h6><a href="#">Joseph John</a></h6>
                                        </div>
                                        <div class="media-object-section comment-textarea">
                                            <form method="post">
                                                <textarea name="commentText" placeholder="Add a comment here.."></textarea>
                                                <input type="submit" name="submit" value="send">
                                            </form>
                                        </div>
                                    </div>
                                </div>

                                <div class="comment-sort text-right">
                                    <span>Sort By : <a href="#">newest</a> | <a href="#">oldest</a></span>
                                </div>

                                <!-- main comment -->
                                <div class="main-comment showmore_one">
                                    <div class="media-object stack-for-small">
                                        <div class="media-object-section comment-img text-center">
                                            <div class="comment-box-img">
                                                <img src= "http://placehold.it/80x80" alt="comment">
                                            </div>
                                        </div>
                                        <div class="media-object-section comment-desc">
                                            <div class="comment-title">
                                                <span class="name"><a href="#">Joseph John</a> Said:</span>
                                                <span class="time float-right"><i class="fa fa-clock-o"></i>1 minute ago</span>
                                            </div>
                                            <div class="comment-text">
                                                <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventoresunt explicabo.</p>
                                            </div>
                                            <div class="comment-btns">
                                                <span><a href="#"><i class="fa fa-thumbs-o-up"></i></a> | <a href="#"><i class="fa fa-thumbs-o-down"></i></a></span>
                                                <span><a href="#"><i class="fa fa-share"></i>Reply</a></span>
                                                <span class='reply float-right hide-reply'></span>
                                            </div>

                                            <!--sub comment-->
                                            <div class="media-object stack-for-small reply-comment">
                                                <div class="media-object-section comment-img text-center">
                                                    <div class="comment-box-img">
                                                        <img src= "http://placehold.it/80x80" alt="comment">
                                                    </div>
                                                </div>
                                                <div class="media-object-section comment-desc">
                                                    <div class="comment-title">
                                                        <span class="name"><a href="#">Joseph John</a> Said:</span>
                                                        <span class="time float-right"><i class="fa fa-clock-o"></i>1 minute ago</span>
                                                    </div>
                                                    <div class="comment-text">
                                                        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventoresunt explicabo.</p>
                                                    </div>
                                                    <div class="comment-btns">
                                                        <span><a href="#"><i class="fa fa-thumbs-o-up"></i></a> | <a href="#"><i class="fa fa-thumbs-o-down"></i></a></span>
                                                        <span><a href="#"><i class="fa fa-share"></i>Reply</a></span>
                                                        <span class='reply float-right hide-reply'></span>
                                                    </div>
                                                </div>
                                            </div><!-- end sub comment -->

                                            <!--sub comment-->
                                            <div class="media-object stack-for-small reply-comment">
                                                <div class="media-object-section comment-img text-center">
                                                    <div class="comment-box-img">
                                                        <img src= "http://placehold.it/80x80" alt="comment">
                                                    </div>
                                                </div>
                                                <div class="media-object-section comment-desc">
                                                    <div class="comment-title">
                                                        <span class="name"><a href="#">Joseph John</a> Said:</span>
                                                        <span class="time float-right"><i class="fa fa-clock-o"></i>1 minute ago</span>
                                                    </div>
                                                    <div class="comment-text">
                                                        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventoresunt explicabo.</p>
                                                    </div>
                                                    <div class="comment-btns">
                                                        <span><a href="#"><i class="fa fa-thumbs-o-up"></i></a> | <a href="#"><i class="fa fa-thumbs-o-down"></i></a></span>
                                                        <span><a href="#"><i class="fa fa-share"></i>Reply</a></span>
                                                        <span class='reply float-right hide-reply'></span>
                                                    </div>

                                                </div>
                                            </div><!-- end sub comment -->

                                        </div>
                                    </div>

                                    <div class="media-object stack-for-small">
                                        <div class="media-object-section comment-img text-center">
                                            <div class="comment-box-img">
                                                <img src= "http://placehold.it/80x80" alt="comment">
                                            </div>
                                        </div>
                                        <div class="media-object-section comment-desc">
                                            <div class="comment-title">
                                                <span class="name"><a href="#">Joseph John</a> Said:</span>
                                                <span class="time float-right"><i class="fa fa-clock-o"></i>1 minute ago</span>
                                            </div>
                                            <div class="comment-text">
                                                <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventoresunt explicabo.</p>
                                            </div>
                                            <div class="comment-btns">
                                                <span><a href="#"><i class="fa fa-thumbs-o-up"></i></a> | <a href="#"><i class="fa fa-thumbs-o-down"></i></a></span>
                                                <span><a href="#"><i class="fa fa-share"></i>Reply</a></span>
                                                <span class='reply float-right hide-reply'></span>
                                            </div>

                                        </div>
                                    </div>

                                    <div class="media-object stack-for-small">
                                        <div class="media-object-section comment-img text-center">
                                            <div class="comment-box-img">
                                                <img src= "http://placehold.it/80x80" alt="comment">
                                            </div>
                                        </div>
                                        <div class="media-object-section comment-desc">
                                            <div class="comment-title">
                                                <span class="name"><a href="#">Joseph John</a> Said:</span>
                                                <span class="time float-right"><i class="fa fa-clock-o"></i>1 minute ago</span>
                                            </div>
                                            <div class="comment-text">
                                                <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventoresunt explicabo.</p>
                                            </div>
                                            <div class="comment-btns">
                                                <span><a href="#"><i class="fa fa-thumbs-o-up"></i></a> | <a href="#"><i class="fa fa-thumbs-o-down"></i></a></span>
                                                <span><a href="#"><i class="fa fa-share"></i>Reply</a></span>
                                                <span class='reply float-right hide-reply'></span>
                                            </div>
                                            <!--sub comment-->
                                            <div class="media-object stack-for-small reply-comment">
                                                <div class="media-object-section comment-img text-center">
                                                    <div class="comment-box-img">
                                                        <img src= "http://placehold.it/80x80" alt="comment">
                                                    </div>
                                                </div>
                                                <div class="media-object-section comment-desc">
                                                    <div class="comment-title">
                                                        <span class="name"><a href="#">Joseph John</a> Said:</span>
                                                        <span class="time float-right"><i class="fa fa-clock-o"></i>1 minute ago</span>
                                                    </div>
                                                    <div class="comment-text">
                                                        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventoresunt explicabo.</p>
                                                    </div>
                                                    <div class="comment-btns">
                                                        <span><a href="#"><i class="fa fa-thumbs-o-up"></i></a> | <a href="#"><i class="fa fa-thumbs-o-down"></i></a></span>
                                                        <span><a href="#"><i class="fa fa-share"></i>Reply</a></span>
                                                        <span class='reply float-right hide-reply'></span>
                                                    </div>
                                                    <!--sub comment-->
                                                    <div class="media-object stack-for-small reply-comment">
                                                        <div class="media-object-section comment-img text-center">
                                                            <div class="comment-box-img">
                                                                <img src= "http://placehold.it/80x80" alt="comment">
                                                            </div>
                                                        </div>
                                                        <div class="media-object-section comment-desc">
                                                            <div class="comment-title">
                                                                <span class="name"><a href="#">Joseph John</a> Said:</span>
                                                                <span class="time float-right"><i class="fa fa-clock-o"></i>1 minute ago</span>
                                                            </div>
                                                            <div class="comment-text">
                                                                <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventoresunt explicabo.</p>
                                                            </div>
                                                            <div class="comment-btns">
                                                                <span><a href="#"><i class="fa fa-thumbs-o-up"></i></a> | <a href="#"><i class="fa fa-thumbs-o-down"></i></a></span>
                                                                <span><a href="#"><i class="fa fa-share"></i>Reply</a></span>
                                                                <span class='reply float-right hide-reply'></span>
                                                            </div>
                                                        </div>
                                                    </div><!-- end sub comment -->
                                                </div>
                                            </div><!-- end sub comment -->
                                        </div>
                                    </div>
                                </div><!-- End main comment -->

                            </div>
                        </div>
                    </section><!-- End Comments -->
                </div><!-- end left side content area -->
                <!-- sidebar -->
                 <div class="large-4 columns" id="rightaside">
                        <script type="text/javascript">
		        		 jQuery("#rightaside").load("/rightaside",function(){ jQuery(document).foundation();});
		                </script>
                    </div><!-- end sidebar -->
            </div>

            <!-- footer -->
            <footer id="footer">
            	<script type="text/javascript">
        		 jQuery("#footer").load("/footer",function(){ jQuery(document).foundation();});
                </script>
            </footer>

        </div><!--end off canvas content-->
    </div><!--end off canvas wrapper inner-->
</div><!--end off canvas wrapper-->
<!-- script files -->
<script src="/commanjs/account.js"></script>
<script src="/commanjs/util.js"></script>
<script src="bower_components/what-input/what-input.js"></script>
<script src="js/jquery.showmore.src.js" type="text/javascript"></script>
<script src="js/video.js"></script>
<script src="js/app.js"></script>
<script src="layerslider/js/greensock.js" type="text/javascript"></script>
<!-- LayerSlider script files -->
<script src="layerslider/js/layerslider.transitions.js" type="text/javascript"></script>
<script src="layerslider/js/layerslider.kreaturamedia.jquery.js" type="text/javascript"></script>
<script src="js/owl.carousel.min.js"></script>
<script src="js/inewsticker.js" type="text/javascript"></script>
<script src="js/jquery.kyco.easyshare.js" type="text/javascript"></script>
<script type="text/javascript">
    var url = window.location.href;
	var id = url.split("id=")[1];
	function loadVideo(videourl){
		if(jQuery('#videojs').length > 0){
    		console.log(videourl)
    		videojs("videojs", {
    			"width":jQuery('#playcontent').outerWidth()+"px",
    			"height":jQuery('#playcontent').outerHeight()+"px",
    			"poster":"",
    			"autoplay":false,
    			"controls": true,
    			"preload":true,
    			"loop":true,
    			"sources": [{
    				src: videourl,
    				type: 'video/mp4'
    			}],
    			
    		}, function(){
    			this.on('loadeddata',function(){
    				
    			})
    			this.on('ended',function(){
    				
    			})
    		});
    	}
	}
	
	 jQuery(document).ready(function(jQuery){
		 	var hiddenaccount = jQuery("#hiddenaccount").val()
	    	//播放页面视频演示  	
	    	var videourl ;
	    	jQuery.ajax({
	    		url : "/video/getVideo",
	    		data : {
	    			"id" : id
	    		},
	    		success : function(data) {
	    			if(data.success==false){
	    				debugger;
	    				if(hiddenaccount=="游客"){
	    					alert(data.information);
	    					window.location.href="/login-register"
	    				}else{
	    					alert(data.information);
	    					window.location.href="/chongzhi"
	    				}
	    				
	    			}else{
	    				videourl=data.object.preUrl;
		    			jQuery("#playcontent").append('<video id="videojs" class="video-js vjs-polyzor-skin vjs-big-play-centered"  playsinline data-setup="{}"></video>');
		    			loadVideo(videourl);
	    			}
	    			
	    		}
	    	});
	    	
	    	jQuery.ajax({
				url : "/video/updataPlayTimes",
				data : {
					"id" : id
				},
				type : "get",
				success : function() {
				}
			});
	    	
	    });
	
 	jQuery(".videoUpLoadTime").each(function(){
 			jQuery(this).html(new Date(jQuery(this).attr('longtime')*1).format('yyyy-MM-dd'));
	});
	
	
    </script>
</body>
</html>